@{
    Layout = null;
}
@model InterfazWeb_02.Clases.ListaGrupos

<table>
    <thead>
        <tr>
            <th width="5%"><span>CVE</span></th>
            <th><span>Materia</span></th>
            <th><span>Profesor</span></th>
            <th width="7%" colspan="2"><span>Lunes</span></th>
            <th width="7%" colspan="2"><span>Martes</span></th>
            <th width="7%" colspan="2"><span>Miercoles</span></th>
            <th width="7%" colspan="2"><span>Jueves</span></th>
            <th width="7%" colspan="2"><span>Viernes</span></th>
            <th width="7%" colspan="2"><span>Sabado</span></th>
            <th width="5%"><span>Salon</span></th>
            <th width="9%" colspan="2"><span>Operaciones</span></th>
        </tr>
    </thead>
    @foreach (var g in Model)
    {   
        <tr>
            <td>
                @(Convert.ToInt32(g.Cve_materia)*100+g.num_Grupo)
            </td>
            <td>
                @Model.buscaMateria(g.Cve_materia).Nombre
            </td>
            <td>
                @Model.buscaProfesor(g.RPE.ToString()).Nombre
            </td>
            <td>@if (g.horario_ini[0] != 0) { @g.horario_ini[0]; }</td>
            <td>@if (g.horario_fin[0] != 0) { @g.horario_fin[0]; }</td>
            <td>@if (g.horario_ini[1] != 0) { @g.horario_ini[1]; }</td>
            <td>@if (g.horario_fin[1] != 0) { @g.horario_fin[1]; }</td>
            <td>@if (g.horario_ini[2] != 0) { @g.horario_ini[2]; }</td>
            <td>@if (g.horario_fin[2] != 0) { @g.horario_fin[2]; }</td>
            <td>@if (g.horario_ini[3] != 0) { @g.horario_ini[3]; }</td>
            <td>@if (g.horario_fin[3] != 0) { @g.horario_fin[3]; }</td>
            <td>@if (g.horario_ini[4] != 0) { @g.horario_ini[4]; }</td>
            <td>@if (g.horario_fin[4] != 0) { @g.horario_fin[4]; }</td>
            <td>@if (g.horario_ini[5] != 0) { @g.horario_ini[5]; }</td>
            <td>@if (g.horario_fin[5] != 0) { @g.horario_fin[5]; }</td>
            <td>
                <input type="text" value="@g.Salon" width="50"/>
            </td>
            <td >
                <!--//TODO: Botones para actualizacion y deshacer cambios-->
                <button class="ui-button">G</button>
            </td>
            <td>
                <button class="ui-button">R</button>
            </td>
        </tr>
    }
</table>