@{
    Layout = null;
}
@using InterfazWeb_02.Models;
@using Algoritmo02.Clases;
@model List<Salon>
    
@foreach (Salon s in Model)
{
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="container-fluid">
                    @{ string asignable = s.Asignable ? "valido" : "error",
                            empalmes = s.Empalme ? "valido" : "error";}

                    <div class="col-md-3"><strong>@s.Cve_espacio</strong></div>
                    <div class="col-md-1 col-md-offset-2"><strong>Cupo:</strong>@s.Cupo</div>
                    <div class="@asignable col-md-2 col-md-offset-1 text-center"><strong>Asignable</strong></div>
                    <div class="@empalmes col-md-2 col-md-offset-1 text-center"><strong>Permite Empalmes</strong></div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miercoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sabado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                    ListaVariables dia;
                    string estilo;
                        }
                        @for (int i = 7; i < 22; i++)
                {
                            <tr>
                                <th scope="row">@i:00-@(i + 1):00</th>
                                @for (int d = 0; d < 6; d++)
                        {
                            dia = s.grupos.EnDia(d,i);
                            if (dia.Count == 1)
                            {
                                estilo = "valido";
                            }
                            else if (dia.Count > 0)
                            {
                                estilo = "error";
                            }
                            else
                            {
                                estilo = "vacio";
                            }
                            <td class="@estilo text-center">
                                @foreach (Variable g in dia)
                                {
                                    <a target="_blank" href="@Url.Action("Grupo","Grupos",new { cve_full = @g.cve_full })"
                                       onclick="window.open(this.href, this.target, 'top=100,left=50, width=900,height=450'); return false;">@g.cve_full</a>
                                }
                            </td>
                        }
                            </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}