@{
    Layout = null;
}
@model List<string> 
<div id="SeleccionExcel">
    <div class="row">
        <div class="col-md-12">
            <label>Archivo: </label><br />
            <div class="row">
                <div class="col-md-9">
                    <select id="archivos" class="form-control">
                        <option>---------</option>
                        @foreach (string exc in Model)
                        {
                            <option>@exc</option>
                        }
                    </select>
                </div>
                <div class="col-md-1 col-sm-4 text-center">
                    <a href="#" id="descarga" class="boton" data-toggle="Descargar archivo">
                        <span class="glyphicon glyphicon-download-alt" ></span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-4 text-center" data-toggle="Eliminar archivo">
                    <a id="elimina" class="boton">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                <div class="col-md-1 col-sm-4 text-center" data-toggle="Subir excel">
                    <form method="post" action="@Url.Action("SubirExcel","Home",null, Request.Url.Scheme)" enctype="multipart/form-data">
                        <label for="cargaArchivo">
                            <span class="glyphicon glyphicon-upload"></span>
                        </label>
                        <input type="file" name="archivo" id="cargaArchivo" accept=".xlsx, .xls"/>
                    </form>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-6">
                    <label>Hoja: </label>
                    <select id="hojas" class="form-control"></select>
                </div>
                <div class="col-md-6">
                    <label>*Semestre:</label>
                    <input type="text" name="semestre" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <button id="uploadExcel" class="btn-block">Cargar excel en base de datos</button>
                    </div>
                    <div class="col-md-2">
                        <form action="@Url.Action("LimpiaBaseDatos","Home",null, Request.Url.Scheme)" method="get">
                            <input type="submit" id="eliminaBaseDatos" class="btn-block" value="Elimina Base de datos">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="direccion">
        <p id="changeExcel">
            @Url.Action("PaginasExcel", "Home", null, Request.Url.Scheme)
        </p>
        <p id="seleccionaOrigenDatos">
            @Url.Action("SetSession_OrigenDatos", "Home",null, Request.Url.Scheme)
        </p>
        <p id="uploadExcelToDB">
            @Url.Action("CargaExcel_BD", "Home", null, Request.Url.Scheme)
        </p>
        <p id="EliminaExcel">@Url.Action("EliminaArchivo", "Home", null, Request.Url.Scheme)</p>
    </div>
</div>