@{
    Layout = null;
}
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">Asignacion de salones</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-elements">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>
                <a href="@Url.Action("Index","Grupos")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Grupos
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Sin Asignar","Index","Grupos",new { consulta = "sinAsignar"},null)</li>
                    <li>@Html.ActionLink("Asignados", "Index", "Grupos", new { consulta = "asignados" },null)</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Sobrecupo", "Index", "Grupos", new { consulta = "sobrecupo" },null)</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Todos", "Index", "Grupos")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Salones", "Index", "Salon")</li>
            <li><a href="#">Profesores</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <select id="selectSemestre" class="form-control">
                @{ Html.RenderAction("_Semestres", "Home"); }
            </select>
        </div>
    </div>
</nav>